/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* --------------- General Styles --------------- */
html {
  font-size: 16px;
}
 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
 
ul, 
ol {
  list-style-type: none;
  font-size: 1.125em;
}
 
a {
  color: #e2e3ed;
  text-decoration: none;
}
 
h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
 
h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.125em;
}
 
p {
  font-size: 0.875em;
  line-height: 1.286em;
}
 
img {

}
 
figure {
  margin: 0;
  width: 100%;
}
 
address {
  font-style: normal;
}
 
.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/* --------------- Base Header - Footer Styles --------------- */
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #202322;
}

/* ---------- Header Styles ---------- */
header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
}

header {
  padding: 15px 0;
}

div .header-divider {
  width: 100%;
  border: 1px solid #3a3a3a;
}

/* ----- Nav Styles ----- */

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  padding: 0;
}

header nav ul li {
  padding: 0 20px;
  font-weight: bold;
}

header .divider {
  width: 100%
}

/* ---------- Footer Styles ---------- */

footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  flex-flow: row wrap;
  margin-bottom: 0;
}

footer h3 {
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-bottom: 20px;
}

footer address {
  text-align: center;
  color: #ffffff;
}

footer .social {
  margin: 50px 0;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.copyright {
  width: 100%;
  margin-bottom: 10px;
}

/* --------------- Mobile Styles - Homepage --------------- */

/* ---------- Hero Area ---------- */
.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1 {
  width: 90%;
  color: #e2e3ed;
}

/* ---------- Itinerary Download ---------- */
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
}

aside .content-wrapper {
  margin-top: 0;
}

aside h3 {
  color: #e2e3ed;
  padding: 0; /* adjust later */
}

aside input {
  padding: 0; /* adjust later */
}

aside p {
  color: #e2e3ed;
  padding: 0; /* adjust later */
}

aside .form,
aside .form-description {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* ----------- Ameneties ---------- */
.ameneties .content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.ameneties {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ameneties article {
  width: 55%;
}

.ameneties h2 {
  margin: 0;
  padding: 0; /* adjust later */
  color: #e2e3ed;
}

.ameneties p {
  margin: 36px 0;
  text-align: center;
  color: #e1e2ea;
}

.ameneties .amenity-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ---------- Reviews ---------- */
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #2a423a;
}

.reviews h2 {
  margin: 0;
  padding: 0; /* adjust later? */
  color: #e2e3ed;
}

.reviews h3,
.reviews p {
  width: 90%;
  color: #e2e3ed;
}

.reviews p {
  margin: 0;
}

/* .reviews .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

might not need this - tbd */


/* --------------- Mobile Styles - About Page --------------- */
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
  color: #e2e3ed;
}

.mission .content-wrapper,
.contact-section .content-wrapper {
  width: 90%;
  max-width: 320px;
}

.mission-content h2 {
  padding-bottom: 50px;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #2a423a;
  color: #e2e3ed;
}

.mission h2,
.contact-section h2 {
  width: 100%;
  font-size: 1.875em;
  line-height: 1.2em;
  margin: 0;
}

/* --------------- Mobile Styles - FAQ Page --------------- */
.faq {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 0;
  background-color: #527158;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 100%;
  max-width: 320px;
}

.faq h2,
.faq h3,
.faq p {
  color: #e2e3ed;
}

.faq h2 {
  font-size: 1.875em;
  line-height: 1em;
  width: 100%;
  margin: 0;
}

.faq h3 {
  margin: 0;
}

.faq article {
  margin-top: 50px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* General Styles */
  .content-wrapper {
    width: 100%;
    max-width: 640px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }

  /* Header and Footer Styles */
  header .content-wrapper {
    justify-content: space-between;
  }

  header nav {
    justify-content: flex-end;
  }

  header nav ul {
    padding: 0;
    justify-content: flex-end;
  }

  header nav ul li {
    padding-right: 0;
    padding-left: 40px;
  }

  div .header-divider {
    display: none;
  }

  footer .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 100%;
    max-width: 640px;
    margin: 0;
  }

  footer .social {
    margin: 0;
  }
  
  .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row wrap;
    margin: 90px 0;
  }

  footer h3 {
    font-size: 1.5em;
  }

  footer .contact {
    width: 40%;
  }

  footer .social {
    width: 40%;
  }

  footer p {
    font-size: 0.875em;
    line-height: 1.7em;
  }

  /* Home Page Styles */
  h1 {
    width: 100%;
    max-width: 640px;
    margin: 90px 0;
  }

  aside .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  aside article {
    width: 45%;
    margin-top: 50px;
  }
  aside h3, aside p, aside input {
    padding: 0;
    margin: 0;
  }

  .ameneties .content-wrapper {
    margin-top: 100px;
  }

  .ameneties h2 {
    padding: 0;
  }

  .ameneties article {
    padding: 25px 0;
    flex-basis: 35%;
  }

  .reviews {
    padding: 100px 0;
  }

  .reviews .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
  }

  .reviews article {
    padding: 0;
  }

  .reviews h2 {
    max-width: 640px;
    padding: 0;
  }

  .reviews figure {
    width: 40%;
  }

  .reviews article {
    width: 40%;
    padding: 0 20px;
  }

  /* About Page Styles */
  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .mission-content p {
    width: 45%;
    margin: 0;
  }

  .contact-section h2 {
    width: 90%;
    padding-bottom: 10px;
  }

  .mission .content-wrapper,
  .contact-section .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  .mission h2,
  .contact-section h2 {
    font-size: 2.25em;
    line-height: 1.2em;
    margin: 0;
  }

  .mission h2 {
    padding-bottom: 30px;
  }

  .contact-section .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .contact-section address {
    width: 45%;
  }

  .contact-section p {
    margin: 0;
  }

  /* FAQ Page Styles */
  .faq .content-wrapper {
    justify-content: space-between;
    max-width: 640px;
  }

  .faq-content {
    flex-basis: 45%;
  }

  .faq h2 {
    width: 100%;
    font-size: 2.25em;
  }

  .faq h3,
  .faq p {
    font-size: 0.875em;
  }

}

@media only screen and (min-width: 1200px) {
  /* General Styles */
  .content-wrapper {
    max-width: 960px;
  }

  h1 {
    font-size: 3.75em;
  }

  h2 {
    font-size: 2.25em;
  }
  
  h3 {
    font-size: 1.875em;
  }
   
  p {
    font-size: 1.125em;
    line-height: 1.33em;
  }

  /* Header and Footer Styles */
  footer .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    max-width: 960px;
  }

  footer h3 {
    font-size: 1.875em;
  }

  footer p {
    font-size: 1.125em;
    line-height: 1.333em;
  }

  footer .contact {
    width: 50%;
  }

  footer .social {
    width: 50%;
  }

  /* Home Page Styles */
  h1 {
    max-width: 960px;
  }

  aside .content-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 50px 0;
  }

  aside article {
    width: 45%;
    max-width: 320px;
    margin: 0;
  }

  aside .form,
  aside .form-description {
    margin: 0;
  }

  .ameneties h2 {
    padding: 0;
    width: 100%;
    max-width: 960px;
  }

  .ameneties article {
    padding: 25px 0;
    flex-basis: 30%;
  }

  .reviews h2 {
    width: 100%;
    max-width: 960px;
    padding: 0;
  }

  /* FAQ Page Styles */
  .faq .content-wrapper {
    justify-content: space-between;
    max-width: 960px;
    margin: 100px 0;
  }

  .faq h2 {
    font-size: 3em;
  }

  .faq h3,
  .faq p {
    font-size: 1.125em;
    line-height: 1em;
  }

  /* About Page Styles */
  .mission .content-wrapper,
  .contact-section .content-wrapper {
    max-width: 960px;
    margin: 100px 0;
  }

  .mission h2,
  .contact-section h2 {
    font-size: 3em;
    width: 100%;
  }

  .mission h3,
  .contact-section h3 {
    font-size: 1.875em;
  }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

